@page "/"
    @*<div class="alert alert-info mt-4 text-center">
        <img src="images/nrclogo.jpg" alt="https://www.nrc.sci.eg/" width="104" height="142">
        <h1>المركز القومى للبحوث </h1>
        <h1>NRC </h1>
    </div>*@
