@page "/"
<div class="alert alert-info mt-4 text-center">
    <h1>المركز القومى للبحوث </h1>
    
    <img src="images/nrclogo.jpg" alt="https://www.nrc.sci.eg/" width="200" height="300">
    
    <h1>مشرف الشبكة:أ.د/كريمة حجاج</h1>
    <h2>مسئول الشبكة :م/أحمد يونس</h2>
</div>

