@page "/"
<div>
    <GInputText T="Stock" OnValueChanged="(arg)=> { _stockcode = arg.ToString(); }" ></GInputText>
    <GInputText T="Arname" codeName="ArCode" descrName="ArName" codelength="5"></GInputText>

    <GInputText T="Item"  CFilter="I => I.StockCode.Equals(_stockcode)" codeName="ArCode" descrName="ArName" codelength="5"></GInputText>
</div>
<div class="bg-info text-center" style="background-color:blanchedalmond !important;">
    <h1 style="color:darkblue">المركز القومى للبحوث </h1>
    
    <img src="images/nrclogo.jpg" alt="https://www.nrc.sci.eg/" width="200" height="300">
    
    <h1 style="color:darkblue">مشرف الشبكة:أ.د/كريمة حجاج</h1>
    <h2 style="color:darkblue">مسئول الشبكة :م/أحمد يونس</h2>
</div>
@code{
    private string _stockcode;
   

}