@page "/login"
@inject IDbContextFactory<nrcwebContext> dbf;
@inject NotificationService n
@inject IAuthenticationService AuthenticationService
@layout EmptyLayout
@inject NavigationManager NavigationManager
<div class="modal  fade show " id="myModal" style=" border : 3px solid #666;display: @display;background-color: rgba(10,10,10,.8);margin:0;padding:0">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="alert alert-primary col-12 h3 text-center ">
                    Log In
                    @*<button type="button" class="close" @onclick="OnClose">&times;</button>*@
                </div>
            </div>
            <div class="modal-body">

                <div class="row form-group form-inline">

                    <RadzenLabel Text="البرنامج" class="col-sm-2" Style="font-weight:bold;" />

                    <strong class="col-10">
                        <RadzenDropDown Data=@ListOfApps @bind-Value=@Gvars.AppId
                                        TextProperty="Value" ValueProperty="Key">

                        </RadzenDropDown>
                    </strong>
                </div>
                <div class="row form-group form-inline">
                    <RadzenLabel Text="المستخدم" class="col-sm-2" Style="font-weight:bold;" />
                    <strong class="col-10">
                        <input type="text" @bind-value="@Username" placeholder="User name" />
                    </strong>
                </div>
                <div class="row form-group form-inline">
                    <RadzenLabel Text="كلمة السر" class="col-sm-2" Style="font-weight:bold;" />
                    <strong class="col-10">
                        <input type="password" @bind-value="@Password" placeholder="password" />
                    </strong>
                </div>
                @if (!string.IsNullOrEmpty(errorMessage))
                {<p style="color:red">@errorMessage</p>}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="HandleLogin">موافق</button>
                @*<button type="button" class="btn btn-primary" @onclick="OnClose">خروج</button>*@
            </div>
        </div>
    </div>

</div>

@code {
    private string Username, Password, errorMessage;
    private string display = "block";
    Dictionary<int, string> ListOfApps = new();
    protected override void OnInitialized()
    {
        ListOfApps.Add(1, "برنامج المخازن");
        ListOfApps.Add(2, "برنامج العهد");
        ListOfApps.Add(3, "برنامج التكاليف");
        base.OnInitialized();
    }

    private async Task HandleLogin()
    {
     //   Username = "adel"; Password = "123";//remove this line in deployed version

        if (!(string.IsNullOrEmpty(Username) || string.IsNullOrEmpty(Password)))
        {
            bool result = await AuthenticationService.AuthenticateAsync(Username, Password);
            if (!result)
            {
                errorMessage = "إسم المستخدم او كلمة السر خطأ";
                // else
                //{
                //OnClose();
                //  NavigationManager.NavigateTo("/");
                //}
            }
            else
            OnClose();
            //NavigationManager.NavigateTo("/");
        }
        else
            errorMessage = "أدخل كود المستخدم و كلمة السر";


    }

    private void OnClose()
    {
        display = "None";
        NavigationManager.NavigateTo("/");
    }

}





