@inherits LayoutComponentBase
    <RadzenDialog />
    <RadzenNotification />
    <RadzenContextMenu />
    <RadzenTooltip />
    <div class="sidebar">
      
        @*<NavMenu />*@
    </div>

    @Body
