@inherits LayoutComponentBase
@inject IAuthenticationService authservice
@inject NavigationManager  NavigationManager
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />


<!--<div class="sidebar">-->
@*<NavMenu />*@

<!--</div>-->

<div class="main">
    <div class="top-row px-4" style="max-height:20px; ">
        @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">مرحباً @_username </a>*@
        <label>مرحباً @Gvars.guername <span>@DateTime.Today </span></label>

    </div>
    <RadzenNavMenu />


    <div class="content px-4 ">

        @Body
    </div>
    @*@Body*@
</div>

@code
{
    public string _username { get; set; }
    protected override async Task OnInitializedAsync()
    {

        var currentUri = NavigationManager.Uri;
        var isLoginPage = currentUri.Contains("login", StringComparison.OrdinalIgnoreCase);

        if (!isLoginPage) // Only check authentication if not on the login page
        {
            _username = Gvars.guername; //((Entry)await authservice.GetCurrentUserAsync()).UserName;
            if (string.IsNullOrWhiteSpace(_username))
            {
                NavigationManager.NavigateTo("login");
                return; // Prevent further execution to avoid re-render issues.
            }


        }
    }
}
