@inherits LayoutComponentBase
@*@inject IAuthenticationService authservice
@inject NavigationManager  NavigationManager*@
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />


<!--<div class="sidebar">-->

    @*<NavMenu />*@
    
<!--</div>-->

<div class="main">
    <div class="top-row px-4" style="max-height:20px; ">
        @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">مرحباً @_username </a>*@
        @*<label>مرحباً @_username </label>*@

    </div>
    <RadzenNavMenu />


    <div class="content px-4 ">

        @Body
    </div>
    @*@Body*@
</div>

@code
{
    // public string _username { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        //_username = ((Entry)await authservice.GetCurrentUserAsync()).UserName;
        //if (String.IsNullOrWhiteSpace(_username))
        //{
        //    NavigationManager.NavigateTo("login");
        //}
        await base.OnParametersSetAsync();
    }

}
